* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar-logo {
    width: 70px;
    margin-left: 5%;
}

.navbar-custom {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: static;
    top: 0;
    right: 0;
    padding: 10px 20px;
    text-transform: uppercase; 
}

.navbar-custom ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-1 {
    padding-right: 20%;
}

.menu-2 {
    padding-right: 10%;
}

.navbar-custom li {
    float: left;
    margin: 0 10px;
}

.navbar-custom li:hover {
    color: #f9b23e !important;
    
}

.navbar-custom li {
    color: white;
    
}

.navbar-custom .active {
    color: #f9b23e;
}

.header-custom {
    background-image: url(./assets/main-bg.jpg);
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-info {
    color: white;
    width: 100%;
    text-align: center;
}

.header-title {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5rem;
    margin-top: 7rem;
    text-transform: uppercase;
}

.mini-info {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    flex: 1;
    margin-bottom: 3.5rem;
}

.header-info .button {
    background-color: #f9b23e;
    border: none;
    color: black;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.header-info .button:hover {
    color: white;
}

.scroll {
    color: white;
    text-align: center;
    margin-top: 12rem;
}

.scroll p {
    margin: 0;
}

.scroll a {
    text-decoration: none !important;
    list-style-type: none !important;
    color: white !important;
}

/* End of Header */

.games {
    background-image: url(./assets/the-games-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.games-content {
    padding-top: 10%;
    flex-direction: row;
}

.games-info {
    color: white;
    max-width: 30vw;
}

.games-mini-info {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.games-carousel {
    margin-top: 8rem;
}

.games-h1 {
    font-size: 3.5rem;
    line-height: 1.5rem;
}

.carousel-control-prev {
    margin-left: -4rem !important;
    margin-right: -4rem !important;
}

.carousel-control-next {
    margin-left: -4rem !important;
    margin-right: -4rem !important;
}

.carousel-control-next-icon {
    background-image: url(./assets/switch-right.svg) !important;
}

.carousel-control-prev-icon {
    background-image: url(./assets/switch-left.svg) !important;
}

.carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
}

/* End of Games */

.features {
    background-image: url(./assets/features.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.features-contents {
    color: white;
    padding-top: 10rem;
}

.features-info-title {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.features-info-content {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}

.timeline {
    margin-top: 8%;
}

.tl-info-title {
    font-size: 1.7rem;
    color: #f9b23e;
    letter-spacing: 0.1rem;
}

.tl-info-content {
    color: white;
    font-size: 1.2rem;
}

.vl {
    border-left: 3px solid white;
    height: 12rem;
    margin-left: 0.43rem;
    margin-top: -10%;
    margin-bottom: -47%;
}

/* End of Features */

.sysreq {
    background-image: url(./assets/requirements.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
}

.sysreq-title {
    color: white;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.table-title {
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    padding-top: 5rem;
}

.table-content-sys {
    max-width: 40vw;
}

.req-info {
    color: #f9b23e;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.req-info-content {
    color: white;
    line-height: 1.2rem;
}

.table-bordered th {
    border: #212226 1px solid !important;
}

.table-bordered td {
    border: #212226 1px solid !important;
}

/* End of Sysreq */

.top-score {
    background-image: url(./assets/top-score-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 5%;
}

.score-left-side h1 {
    color: white;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}

.score-left-side h2 {
    color: white;
    font-size: 1rem;
    line-height: 4rem;
}

.score-left-side .button {
    background-color: #f9b23e;
    border: none;
    color: black;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.score-left-side .button:hover {
    color: white;
}

.card {
    width: 25rem;
}

.bg-custom-1 {
    background-color: #1b1c1c !important
}

.bg-pic {
    position: absolute;
    top: 13px;
    left: 26px;
    height: 70px;
}

.card-name {
    color: #f9b23e;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}

.card-job {
    color: #7e7f7f;
    font-size: 0.75rem;
    margin-top: -5%;
}

.twitter {
    height: fit-content;
    margin-left: 70px;
}

.card-title {
    font-size: 0.9rem;
}

.card-date {
    font-size: 0.7rem;
    color: #7e7f7f;
    margin-bottom: 0rem;
}

/*End of Top Score*/

.footer {
    height: 100%;
    background-color: #080a0b;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

.footer-content {
    color: white;
    padding-top: 10%;
    margin-left: -2%;
    margin-bottom: 3rem;
}

.footer-content h1 {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
}

.footer-content h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.footer-content p {
    font-size: 1rem;
}

.form-group {
    background-color: #1b1c1c;
    border-radius: 5px;
}

.form-group label {
    color: #7e7f7f;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
}
.form-control {
    border: 0 !important;
    padding: 0 !important;
    color: #f9b23e !important;
    font-size: 0.9rem !important;
}

.btn-warning-custom {
    background-color: #f9b23e !important;
}

.subs-button .button {
    background-color: #f9b23e;
    border: none;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.subs-button .button:hover {
    color: white;
}

.nav-item {
    gap: 3rem;
    padding: 2rem;
    border-bottom: 1px solid #7e7f7f;
}

.nav-item a {
    text-decoration: none !important;
    color: white !important;
    font-size: 0.75rem;
}

.copyrights {
    padding: 1rem 0;
}

.copyright-content {
    color: #7e7f7f;
    font-size: 0.75rem;
}

.terms {
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
}


@media only screen and (max-width: 768px) {

    .header-custom {
        height: fit-content;
    }

    .navbar-custom {
        justify-content: center;
    }

    .navbar-logo {
        margin: 0;
    }

    .menu-1,.menu-2 {
        display: none;
    }

    .scroll {
        margin-top: 12rem;
    }

    .games-info {
        max-width: none;
    }

    .carousel-control-prev {
        margin-left: -1rem !important;
        margin-right: -1rem !important;
    }
    
    .carousel-control-next {
        margin-left: -1rem !important;
        margin-right: -1rem !important;
    }

    .features {
        background-position: center;
        padding-left: 1rem;
    }

    .features-contents {
        padding-top: 2rem;
    }

    .timeline {
        padding-left: 1rem;
    }

    .table-content-sys {
        max-width: none;
    }

    .top-score {
        height: fit-content;
        padding-bottom: 3rem;
    }

    .card {
        margin-top: 1rem;
    }

    .footer {
        padding-top: 0;
    }

    .footer figure {
        display: none;
    }

    .footer-content {
        padding-left: 1rem;
    }

    .form-group {
        max-width: 100vw;
        margin-left: 1rem;
    }

    .nav-item a {
        margin-right: 1rem;
    }

}